@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body{
    margin: 0%;
}

header{
    background-color: black;
    /*width: 100%;*/
    color: #ffffff;
    padding: 5%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    /*font-weight: 172px;*/
}

footer{
    height: 10%;
    width: 100%;
    /*display: inline-block;*/
    background-color: black;
    position: absolute;
    bottom: 0;
    color: white;
}

section{
    font-size: large;
    margin: 0%;
    float: right;
    margin-top: 8%;
    width: 500px;
    font-family: 'Anton', sans-serif;
    padding-right: 150px;
    /*padding-bottom: 400px;*/
}

aside nav li{
    margin-left: 0%;
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    text-align:center;
    color: white;
    list-style-type: none;
    padding: 0.75%;
}
aside {
    /*padding-left: 250px;*/
    text-align: center;
}


img{
    border-radius: 50%;
    width: 35%;
    float: left;
    padding: 2%;
    padding-bottom: 3%;
}

/*footer menu*/
.menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .menu:hover {
    pointer-events: all;
  }
  .label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
  }
  .spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
  }
  .spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
  }
  .item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
  }
  span {
    transition: color 0.5s ease;
  }
  .item:hover a:nth-child(1) {
    color: #ff0000;
  }
  .item:hover a:nth-child(2) {
    color: #ff009d;
  }
  .menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
  }
  .menu:hover .item {
    opacity: 1;
    top: 0px;
  }
  .item:nth-child(1) {
    transition-delay: 0.45s;
  }
  .item:nth-child(2) {
    transition-delay: 0.4s;
  }
  .item:nth-child(3) {
    transition-delay: 0.35s;
  }
  .item:nth-child(4) {
    transition-delay: 0.3s;
  }
  .item:nth-child(5) {
    transition-delay: 0.25s;
  }
  .item:nth-child(6) {
    transition-delay: 0.2s;
  }
  .item:nth-child(7) {
    transition-delay: 0.15s;
  }
  .item:nth-child(8) {
    transition-delay: 0.1s;
  }
  .item:nth-child(9) {
    transition-delay: 0.05s;
  }
  .item:nth-child(10) {
    transition-delay: 0s;
  }
  .menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
  }
  .menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
  }
  .menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
  }
  .menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
  }
  .menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
  }
  .menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
  }
  .menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
  }

  a:link, a:visited, a:active {
    text-decoration:none;
    color: #ffffff;
}
.vertical-menu{
  width: 30%;
  margin-top: 10%;
  margin-left: 10%  ;
}
.vertical-menu a {
  background-color:black;
  color: white; 
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: white;
  color: #000;

}

.vertical-menu a.active {
  color: white;
}

.vertical-menu a{
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.vertical-menu a:hover{
  border-radius: 20px;
}